<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>

<h2>Create Your Account</h2>


{% if messages %}
    {% for message in messages %}
        <p style="
            color: {% if message.tags == 'success' %}green{% else %}red{% endif %};
            font-weight: bold;
        ">
            {{ message }}
        </p>
    {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}

   
    {% for field in form %}
        <div style="margin-bottom: 12px;">
            <label>{{ field.label }}</label><br>
            {{ field }}

            
            {% for error in field.errors %}
                <p style="color: red; font-size: 14px;">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}


    {% for error in form.non_field_errors %}
        <p style="color:red; font-size:14px;">{{ error }}</p>
    {% endfor %}

    <button type="submit">Register</button>
</form>

</body>
</html>
